<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/tesminux"
        android:label="Tesminux"
        android:roundIcon="@mipmap/tesminux"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tesminux">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Tesminux"
            android:theme="@style/Theme.Tesminux"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
